@font-face {
	font-family: 'Museo Sans 300 Light';
	src: url('MuseoSansCyrl-300.eot');
	src: url('MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
	url('fonts/MuseoSansCyrl-300.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
html {
	background-color: #f9f9f9
}
body {
	font-family: 'Museo Sans 300 Light';
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#header {

	width: 100%;
	height: 200px; 
	background-repeat: no-repeat;
	background-position: center top; 
	background-image: url('https://s3.amazonaws.com/ts-prod-assets.tripleseat.com/location_portal_banner/000/022/673/22673_4f65ae3c92_banner.png?1671479814' );
	background-repeat: no-repeat;
	background-size: cover;
}
.header {
	position: relative;
}

.banner {
	width: 100%;
}

.icon {
	position: absolute;
	top: 34px;
	left: 15%;
	max-height: 135px;
  }
.main-section {
	margin-top: 1%;
	margin-left: 15%;
margin-right: 15%;
    height: max-content;
    border-radius: 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	background-color: #fcfcfc;
}
.event {
	padding: 20px;
}
hr {
	color: white;
}
span{
	font-weight: bold;
	color: black;
	width: 26%
}
.inputs {
	display: grid;
}
.registration {
	/* display: flex; */
	/* gap: 14%; */
	display: grid;
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom: 20px;
}
.ext {
	width: 100px;
	margin-left: 1%;
}
input {
	margin-bottom: 1%;
	height: 38px;
	border: 1px solid #ccc;
	border-radius: 5px;
	transition: border-color 0.3s ease-in-out;
	padding: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
	width: 32%;
}
input:focus {
	border-color: lightblue;
	box-shadow: 0 0 5px lightblue;
	outline: none;
}
.input-div {
	display: flex;
	align-items: center;
}
textarea {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;


}
.options {
	display: grid;
}
h1 {
	color: #528c9e;
	font-size: 31px
}
h2 {
	color: #528c9e;
}
h4 {
	color: #797979;
	margin-bottom: 20px
}


input[type="date"]{
    font-family: "Roboto Mono",monospace;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	transition: border-color 0.3s ease-in-out;
	padding: 10px;
	width: 183px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.main-event {
	margin-left: 10%;
	margin-top: 20px;
}
.submit {
	background-color: #528c9e;
	color: #FFFFFF;
	text-transform: uppercase;
display: block;
max-width: 284px;
font-weight: 100;
padding: 4px 11px;
letter-spacing: 1px;
-webkit-transform: translate3d(0, 0, 0);
border: none;
margin-top: 20px;
}
.timepicker {
	width: 183px;
}
.numOfPeople {
	width: 100px;

}
#menu {
	background: white 
    outline: none;
    border-radius: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	transition: border-color 0.3s ease-in-out;
	width: 200px;
	padding: 10px;
	background: white;
	margin-top: 10px;
	margin-bottom: 30px;
}
#menu:focus {
	border-color: lightblue;
	box-shadow: 0 0 5px lightblue;
	outline: none;

}

.textarea {
display: block;
width: 80%;
height: 50px;
color: #000000;

font-weight: 700;
font-family: "Museo Sans 300 Light";
margin-top: 10px;
padding: 4px 11px;
letter-spacing: 1px;
-webkit-transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 900px) {
	h1 {
		font-size: 14px;
	}
	h2 {
		font-size: 12px;
	}
	h4 {
		font-size: 12px;
	}
	span {
		font-size: 11px;
	}
	.main-section {
		margin-left: 7%;
		margin-right: 7%;
	}
	.input-div {
		display: grid;
		align-items: center;
		gap: 17px;
	}
	input {
		width: 80%;
	}
	.ext {
		margin: 0;
	}
	span {
		margin-top: 20px;
		width: 100%;
	}
	.g-recaptcha {
		transform: scale(0.68);
		transform-origin: 0 0;
	}
	#header {
		height: 105px;
	}
	.icon {
		position: absolute;
		left: 7%;
		max-height: 78px;
		top: 14px;
	  }
	input[type="date"] {
		font-size: 11px;

	}
	select {
		font-size: 11px;
	}
	.submit {
		height: 40px;
		border-radius: 8px;
	}	
  }

@media screen and (max-width: 400px) {
	select {
		font-size: 11px;
	}
	input {
		width: 80%;
	}
	.ext {
		margin: 0;
	}
	span {
		margin-top: 20px;
		width: 100%;
	}
	.g-recaptcha {
		transform: scale(0.68);
		transform-origin: 0 0;
	}
	input[type="date"] {
		width: 120px;
		font-size: 10px;

	}
	.timepicker {
		width: 120px;
		font-size: 10px;
	}
	span {
		width: 88%;
	}
	#menu {
		width: 88%;
	}

	.g-recaptcha {
		transform: scale(0.45);
		transform-origin: 0 0;

	}
	.submit {
		height: 40px;
		border-radius: 8px;
	}	
  }
